<div class="container">
    <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default panel-profile">
            <div class="panel-heading" style="background-image: url(https://image.ibb.co/cyRpp6/Miguel_Silva.jpg);"></div>
              <div class="panel-body text-center">
                <img class="panel-profile-img" src="../assets/img/avatar-fat.jpg">
                <h5 class="panel-title"> <%= @current_user.first_name %> <%= @current_user.last_name %> </h5>
                <p class="m-b-md">Big belly rude boy, million dollar hustler. Unemployed.</p>
                <button class="btn btn-primary-outline btn-sm">
                  <span class="icon icon-add-user"></span> Follow
                </button>
              </div>
            </div>
        </div>

        <div class="col-md-5">
          <h3>Club: <%= scout_profile.country %></h3>
          <h3>Height: <%= scout_profile.reputation %></h3>
          <h3>Weight: <%= scout_profile.availability %></h3>
        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>
